



/* #estilo{
    text-align: center;
    border:solid green ;
    background:lightblue;
    width: 120;
    height: 20px;
    padding: 40px;

}
    #novo_estilo{
        text-align: center;
        border: solid black;
background: lightblue;
width: 120;
height: 20px;
padding: 40px;
    } */






